<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IIC2513 - Clothex</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
</head>
<body>
    <div class="errors-500">
        <h1>Hey, we are having problems right now, try again later</h1>
        <p><a href="<%- publicationsListPath %>">Go back to the products view</a></p>
    </div>
    <script src="<%= assetPath('app.js') %>"></script>
</body>
</html>