.errors-404{
    text-align: center;
    .nav{
        display:none;
    }
    
    .logo img{
        display:none;
    }
}
.errors-500{
    text-align: center;
    .nav{
        display:none;
    }
    
    .logo img{
        display:none;
    }
}